/* base */
header{
  width: 100%;
  height: 30px;

}
header i{
  line-height: 50px;
}

.border-bottom-gray{
  border-bottom: 1px solid #d2d2d2;
}
.container{
  height: auto;
}
#top-row{
  height: 50%;
}
#bottom-row{
  height: 47%;
}
.full-col {
  height: 650px;
}
.full-col .card{
  height: 98%;
}
.card-title{
  font-weight: bold;
}
.card-tit{
  font-size: 25px;
  color: blue;
}
/* number */
#quote-2-high span{
  border: 1px solid gray;
  padding: 2px;
  line-height: 50px;
  background-color: violet;
  border-radius: 50%;
}
.border-bottom-none{
  border-bottom: hidden;
}