  /* Media Query for Mobile Devices */
  @media (max-width: 576px) {
    /* smaller banner image */
    
    body{
      width: 100%;
    }
    #banner img{
        height: 36vh;
        object-fit: cover;
        object-position: 50% 0;
    }
    #banner h1{
      font-size: 2rem ;
    }
    /* hide name in middle nav */
   #nav-bar{
    height: auto;
   }
   #nav-bar .border-on{
    border: hidden;
   }
 
   
      /* about  */
    
    #about .container{
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      height: auto;
      
    }
    #about .about-item{
      width: 100%;

    }
   /* kinh nghiem job-info */
   
  /* certificate */
  .border-bottom-red{
    border-bottom: 1px solid red;
    margin-bottom: 10px;
}
.border-right-orange{
  border-right: hidden;
}
.border-bottom-black{
  border-bottom: 1px solid var(--border-color);
  padding: 20px 0;
  width: 100%;
}
  /* project */
  .project-section{
    padding: 0;
    width: 100%;
  }
  .project-section .project-grid{
    grid-template-columns: 1fr;
    row-gap: 0;

  }
  .project-section .project-content{
    padding: 20px;
  }
  .project-section .project-list-header{
    display: block;
  }
  .project-section .project-list-header span{
    width: 30px;
    margin-left: 20px;
  }
  .project-section .project-header--flex{
    margin-top: 20px;
  }
  /* hobby */
  
  /* footer */
  #footer{
    height: 10vh;
    display: flex;
    align-items: center;
  }
  #footer span{
    display: none;
  }
  
 
}