@media (max-width:992px)  { 
    /* reset all margin and padding */
    body{
        margin: 0; 
        padding: 0;
    }
    *{
        box-sizing: border-box;
    }
    /* smaller banner image */
    #banner img{
        height: 50vh;
    }
    /* hide name in middle nav */
    #nav-bar .nav-mid{
        display: none;
    }    
  
    
    #nav-bar .container{
        max-width: 90%;
        height: 100%;
    }
    #nav-bar .border-on{
        border: 1px solid var(--border-color);
       }
    /* about  */
    #about{
        height: auto;
        margin-bottom: 100px;
    }
    #about .about-item{
        padding: 50px 50px;
        height: 100%;
    }
    #about .container{
    }
    #job-info .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    /* certificate */
    .border-right-orange{
        border-right: 1px solid orange;
        margin-bottom: 20px;
    }
  
    .border-bottom-orange{
        border-bottom: 1px solid orange;
    }
    .border-top-orange{
        border-top: 1px solid orange;
    }
  
   
        /* project */
    .project-section{
        padding: 0;
    }
    .project-section .project-grid{
        grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    }
    .project-section .project-content{
        padding: 0 10px 0 10px;
    }
            /* project- header */
    
    .project-list .project-header--flex{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 20px;
    }
    .project-list .project-header-item{
        display: flex;
        flex-direction: row;
    }
    #footer{
        height: 10vh;
    }
    #footer .container{
        height: 100%;
    }
 }